
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="conatiner-fluid content-inner mt-n5 py-0">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex flex-wrap align-items-center justify-content-between">
                        <div class="d-flex flex-wrap align-items-center">
                            <div class="d-flex flex-wrap align-items-center mb-3 mb-sm-0">
                                <h4 class="me-2 h4 dept-name"></h4>
                                <span>&nbsp;-&nbsp;</span><span class="dept-code"></span>
                            </div>
                        </div>
                        <div>
                            <a role="button" href="" class="edit me-2 border-0 bg-transparent text-warning h4">
                                <i class="fa-regular fa-pen-to-square"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <div class="card-header">
                    <div class="header-title">
                        <h4 class="card-title">About</h4>
                    </div>
                </div>
                <div class="card-body">
                    <ul class="list-inline m-0 p-0">
                        <li class="d-flex mb-2">
                            <p class="news-detail mb-0">
                                Name: <span class="dept-name"></span>
                            </p>
                        </li>
                        <li class="d-flex mb-2">
                            <p class="news-detail mb-0">
                                Chairman: <span id="dept-chairman"></span>
                            </p>
                        </li>
                        <li class="d-flex mb-2">
                            <p class="news-detail mb-0">
                                Email: <a href="" id="a-dept-email"><span id="dept-email"></span></a>
                            </p>
                        </li>
                        <li class="d-flex mb-2">
                            <p class="news-detail mb-0">
                                Phone: <a href="" id="a-dept-phone"><span id="dept-phone"></span></a>
                            </p>
                        </li>
                        <li class="d-flex mb-2">
                            <p class="news-detail mb-0">
                                Location: <span id="dept-address"></span>
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <div class="header-title">
                        <h4 class="card-title">Projects</h4>
                    </div>
                </div>
                <div class="card-body">
                    <div class="twit-feed">
                        <div class="d-flex align-items-center mb-2">
                            <div class="media-support-info">
                                <h6 class="mb-0">Figma Community</h6>
                            </div>
                        </div>
                        <div class="media-support-body">
                            <p class="mb-0">
                                Lorem Ipsum is simply dummy text of the printing and typesetting
                                industry
                            </p>
                        </div>
                    </div>
                    <hr class="my-4">
                    <div class="twit-feed">
                        <div class="d-flex align-items-center mb-2">
                            <div class="media-support-info">
                                <h6 class="mb-0">Flutter</h6>
                            </div>
                        </div>
                        <div class="media-support-body">
                            <p class="mb-0">
                                Lorem Ipsum is simply dummy text of the printing and typesetting
                                industry
                            </p>
                        </div>
                    </div>
                    <hr class="my-4">
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="card" data-aos="fade-up" data-aos-delay="900">
                <div class="flex-wrap card-header d-flex justify-content-between">
                    <div class="header-title">
                        <h4 class="card-title">Average evaluation</h4>
                    </div>
                    <div class="dropdown">
                        <a href="#" class="text-gray dropdown-toggle" id="dropdownMenuButton1"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            This Week
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end"
                            aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" href="#">This Week</a></li>
                            <li><a class="dropdown-item" href="#">This Month</a></li>
                            <li><a class="dropdown-item" href="#">This Year</a></li>
                        </ul>
                    </div>
                </div>
                <div class="card-body">
                    <div class="flex-wrap d-flex align-items-center justify-content-between">
                        <div id="myChart" class="col-md-8 col-lg-8 myChart"></div>
                        <div class="d-grid gap col-md-4 col-lg-4">
                            <div class="d-flex align-items-start">
                                <svg class="mt-2 icon-14" xmlns="http://www.w3.org/2000/svg" width="14"
                                     viewBox="0 0 24 24" fill="#3a57e8">
                                    <g>
                                        <circle cx="12" cy="12" r="8" fill="#3a57e8"></circle>
                                    </g>
                                </svg>
                                <div class="ms-3">
                                    <span class="text-gray">Highest Dep</span>
                                    <h6>76.0</h6>
                                </div>
                            </div>
                            <div class="d-flex align-items-start">
                                <svg class="mt-2 icon-14" xmlns="http://www.w3.org/2000/svg" width="14"
                                     viewBox="0 0 24 24" fill="#4bc7d2">
                                    <g>
                                        <circle cx="12" cy="12" r="8" fill="#4bc7d2"></circle>
                                    </g>
                                </svg>
                                <div class="ms-3">
                                    <span class="text-gray">My Dep</span>
                                    <h6>53.0</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section script
{
    <script>
        $(document).ready(function () {
            const urlParams = new URLSearchParams(window.location.search);
            const dept_code = urlParams.get("deptcode");
            console.log(dept_code);
            let data = {
                dept_code: dept_code
            };
            console.log(data);
            $.ajax({
                url: "/department/detailsdata",
                data: data,
                type: "POST",
                success: function (result) {
                    switch (result.status) {
                        case StatusCode.Success:
                            data = JSON.parse(result.data);
                            console.log(data);

                            $(".dept-code").text(data.DEPT_CODE);
                            $(".dept-name").text(data.DEPT_NAME);
                            $("#dept-chairman").text(data.CHAIRMAN_NAME);
                            $("#dept-email").text(data.CHAIRMAN_EMAIL);
                            $("#a-dept-email").prop("href", "mailto:" + data.CHAIRMAN_EMAIL);
                            $("#dept-phone").text(data.CHAIRMAN_PHONE);
                            $("#a-dept-phone").prop("href", "tel:" + data.CHAIRMAN_PHONE);
                            $("#dept-address").text(data.DEPT_ADDRESS);
                            $("a.edit").prop("href", "/Department/Edit?deptcode=" + data.DEPT_CODE);
                            $("#my-modal").fadeOut();
                            break;
                        default:
                            AppendAlert("Get department data failed!", StatusAlert.Error);
                            break;
                    }
                }
            })
        })
    </script>    
}