
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="conatiner-fluid content-inner mt-n5 py-0">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex flex-wrap align-items-center justify-content-between">
                        <div class="d-flex flex-wrap align-items-center">
                            <div class="d-flex flex-wrap align-items-center mb-3 mb-sm-0">
                                <h4 class="me-2 h4 dept-name"></h4>
                                <span>&nbsp;-&nbsp;</span><span class="dept-code"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card" id="about-info">
                <div class="card-header d-flex flex-row justify-content-between">
                    <div class="header-title">
                        <h4 class="card-title">About</h4>
                    </div>
                    <div>
                        <button class="edit me-2 border-0 bg-transparent text-warning h4">
                            <i class="fa-regular fa-pen-to-square"></i>
                        </button>
                        <button class="submit border-0 bg-transparent h4 text-light">
                            <i class="fa-regular fa-square-check"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <ul class="list-inline m-0 p-0">
                        <li class="d-flex mb-2">
                            <div class="mb-3 w-100">
                                <label for="code" class="form-label text-black">Code:</label>
                                <input type="text" name="code" class="form-control text-black" id="code" value="" disabled>
                                <div id="name-help" class="form-text">We'll never share your email with anyone else.</div>
                            </div>
                        </li>
                        <li class="d-flex mb-2">
                            <div class="mb-3 w-100">
                                <label for="name" class="form-label text-black">Name:</label>
                                <input type="text" name="name" class="form-control text-black" id="name" value="" disabled>
                                <div id="name-help" class="form-text">We'll never share your email with anyone else.</div>
                            </div>
                        </li>
                        <li class="d-flex mb-2">
                            <div class="mb-3 w-100">
                                <label for="chairman" class="form-label text-black">Chairman</label>
                                <select class="form-select" id="chairman" name="chairman" data-placeholder="Choose one person" disabled>
                                    <option></option>
                                </select>
                                <div id="name-help" class="form-text">We'll never share your email with anyone else.</div>
                            </div>
                        </li>
                        <li class="d-flex mb-2">
                            <div class="mb-3 w-100">
                                <label for="email" class="form-label text-black">Email:</label>
                                <input type="email" name="email" class="form-control text-black" id="email" value="" disabled>
                                <div id="email-help" class="form-text">We'll never share your email with anyone else.</div>
                            </div>
                        </li>
                        <li class="d-flex mb-2">
                            <div class="mb-3 w-100">
                                <label for="phone" class="form-label text-black">Phone:</label>
                                <input type="tel" name="phone" class="form-control text-black" id="phone" value="" disabled>
                                <div id="phone-help" class="form-text">We'll never share your email with anyone else.</div>
                            </div>
                        </li>
                        <li class="d-flex mb-2">
                            <div class="mb-3 w-100">
                                <label for="address" class="form-label text-black">Location:</label>
                                <input type="text" name="address" class="form-control text-black" id="address" value="" disabled>
                                <div id="address-help" class="form-text">We'll never share your email with anyone else.</div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="projects-info" class="card">
                <div class="card-header d-flex flex-row justify-content-between">
                    <div class="header-title">
                        <h4 class="card-title">Projects</h4>
                    </div>
                    <div>
                        <button class="edit me-2 border-0 bg-transparent text-warning h4">
                            <i class="fa-regular fa-pen-to-square"></i>
                        </button>
                        <button class="add me-2 border-0 bg-transparent text-primary h4">
                            <i class="fa-regular fa-square-plus"></i>
                        </button>
                        <button class="submit border-0 bg-transparent h4 text-light">
                            <i class="fa-regular fa-square-check"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="twit-feed">
                        <div class="d-flex align-items-center mb-2">
                            <div class="media-support-info">
                                <h6 class="mb-0">Figma Community</h6>
                            </div>
                        </div>
                        <div class="media-support-body">
                            <p class="mb-0">
                                Lorem Ipsum is simply dummy text of the printing and typesetting
                                industry
                            </p>
                        </div>
                    </div>
                    <hr class="my-4">
                    <div class="twit-feed">
                        <div class="d-flex align-items-center mb-2">
                            <div class="media-support-info">
                                <h6 class="mb-0">Flutter</h6>
                            </div>
                        </div>
                        <div class="media-support-body">
                            <p class="mb-0">
                                Lorem Ipsum is simply dummy text of the printing and typesetting
                                industry
                            </p>
                        </div>
                    </div>
                    <hr class="my-4">
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="card" data-aos="fade-up" data-aos-delay="900">
                <div class="flex-wrap card-header d-flex justify-content-between">
                    <div class="header-title">
                        <h4 class="card-title">Average evaluation</h4>
                    </div>
                    <div class="dropdown me-5">
                        <a href="#" class="text-gray dropdown-toggle" id="dropdownMenuButton1"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            This Week
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end"
                            aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" href="#">This Week</a></li>
                            <li><a class="dropdown-item" href="#">This Month</a></li>
                            <li><a class="dropdown-item" href="#">This Year</a></li>
                        </ul>
                    </div>
                </div>
                <div class="card-body">
                    <div class="flex-wrap d-flex align-items-center justify-content-between">
                        <div id="myChart" class="col-md-8 col-lg-8 myChart"></div>
                        <div class="d-grid gap col-md-4 col-lg-4">
                            <div class="d-flex align-items-start">
                                <svg class="mt-2 icon-14" xmlns="http://www.w3.org/2000/svg" width="14"
                                     viewBox="0 0 24 24" fill="#3a57e8">
                                    <g>
                                        <circle cx="12" cy="12" r="8" fill="#3a57e8"></circle>
                                    </g>
                                </svg>
                                <div class="ms-3">
                                    <span class="text-gray">Highest Dep</span>
                                    <h6>76.0</h6>
                                </div>
                            </div>
                            <div class="d-flex align-items-start">
                                <svg class="mt-2 icon-14" xmlns="http://www.w3.org/2000/svg" width="14"
                                     viewBox="0 0 24 24" fill="#4bc7d2">
                                    <g>
                                        <circle cx="12" cy="12" r="8" fill="#4bc7d2"></circle>
                                    </g>
                                </svg>
                                <div class="ms-3">
                                    <span class="text-gray">My Dep</span>
                                    <h6>53.0</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section script
{
    <script>
        $(document).ready(function () {
            const urlParams = new URLSearchParams(window.location.search);
            const dept_code = urlParams.get("deptcode");

            let emp_list = [];
            let dept_name = null;

            let data = {
                dept_code: dept_code
            };
            console.log(data);
            $.ajax({
                url: "/department/editdata",
                data: data,
                type: "POST",
                success: function (result) {
                    switch (result.status) {
                        case StatusCode.Success:
                            data = JSON.parse(result.data);
                            console.log(data);

                            let department = data.department;
                            emp_list = data.emp_list;

                            $(".dept-code").text(department.DEPT_CODE)
                            $(".dept-name").text(department.DEPT_NAME);

                            $("input#code").val(department.DEPT_CODE);
                            $("input#name").val(department.DEPT_NAME);

                            emp_list.forEach(function (item, index) {
                                $("select#chairman").append('<option value="' + item.EMP_NUM + '">' + item.OPTION + '</option>')
                            })
                            $("select#chairman option[value='" + department.EMP_NUM + "']").prop("selected", true);
                            $('#chairman').select2({
                                theme: "bootstrap-5",
                                width: $(this).data('width') ? $(this).data('width') : $(this).hasClass('w-100') ? '100%' : 'style',
                                placeholder: $(this).data('placeholder')
                            });
                            $("input#email").val(department.CHAIRMAN_EMAIL);
                            $("input#phone").val(department.CHAIRMAN_PHONE);
                            $("input#address").val(department.DEPT_ADDRESS);
                            $("#my-modal").fadeOut();
                            break;
                        default:
                            AppendAlert("Get department data failed!", StatusAlert.Error);
                            break;
                    }
                }
            })

            // About info
            $("#about-info .edit").click(function () {
                $("#about-info .edit, #projects-info .edit, #projects-info .add").removeClass("text-danger text-primary").addClass("text-light");
                $("#about-info .submit").removeClass("text-light").addClass("text-success");
                $("#name, #chairman, #address").prop("disabled", false);
            })
            $("#about-info .submit").click(function () {
                dept_name = $("input#name").val();

                let data = {
                    code: dept_code,
                    name: dept_name,
                    chairman: $("select#chairman").val(),
                    address: $("input#address").val()
                }
                console.log(data);
                $.ajax({
                    url: "/department/editsubmit",
                    data: data,
                    type: "POST",
                    success: function (result) {
                        switch (result.status) {
                            case StatusCode.Success:
                                $(".dept-code").text(dept_code);
                                $(".dept-name").text(dept_name);

                                $(this).removeClass("text-success").addClass("text-light");
                                $("#about-info .edit, #projects-info .edit").removeClass("text-light").addClass("text-danger");
                                $("#projects-info .add").removeClass("text-light").addClass("text-primary");
                                $("#name, #chairman, #address").prop("disabled", true);

                                AppendAlert("Update successfully!", StatusAlert.Success);
                                break;
                            default:
                                AppendAlert("Error!", StatusAlert.Error);
                                break;
                        }
                    }
                })
            })

            // Projects info
            $("#projects-info .edit").click(function () {
                $("#about-info .edit, #projects-info .edit, #projects-info .add").removeClass("text-danger text-primary").addClass("text-light");
                $("#projects-info .submit").removeClass("text-light").addClass("text-success");
            })
            $("#projects-info .add").click(function () {
                $("#about-info .edit, #projects-info .edit, #projects-info .add").removeClass("text-danger text-primary").addClass("text-light");
                $("#projects-info .submit").removeClass("text-light").addClass("text-success");
            })
            $("#projects-info .submit").click(function () {
                $(this).removeClass("text-success").addClass("text-light");
                $("#about-info .edit, #projects-info .edit").removeClass("text-light").addClass("text-danger");
                $("#projects-info .add").removeClass("text-light").addClass("text-primary");
            })

            $("select#chairman").change(function () {
                emp_list.forEach(function (item, index) {
                    if ($("option[value='" + item.EMP_NUM + "']").prop("selected")) {
                        $("input#email").val(item.EMP_EMAIL);
                        $("input#phone").val(item.EMP_PHONE);
                    }
                });
            })
        })
    </script>
}