@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="conatiner-fluid content-inner mt-n5 py-0">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex flex-wrap align-items-center justify-content-between">
                        <div class="d-flex flex-wrap align-items-center">
                            <div class="d-flex flex-wrap align-items-center mb-3 mb-sm-0">
                                <h4 class="me-2 h4 proj-name"></h4>
                                <span>&nbsp;-&nbsp;</span><span class="proj-code"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card" id="about-info">
                <div class="card-header d-flex flex-row justify-content-between">
                    <div class="header-title">
                        <h4 class="card-title">About</h4>
                    </div>
                    <div>
                        <button class="edit me-2 border-0 bg-transparent text-warning h4">
                            <i class="fa-regular fa-pen-to-square"></i>
                        </button>
                        <button class="submit border-0 bg-transparent h4 text-light">
                            <i class="fa-regular fa-square-check"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <ul class="list-inline m-0 p-0">
                        <li class="d-flex mb-2">
                            <div class="mb-3 w-100">
                                <label for="code" class="form-label text-black required">Code:</label>
                                <input type="text" name="code" class="form-control text-black" id="code" value="" disabled required>
                            </div>
                        </li>
                        <li class="d-flex mb-2">
                            <div class="mb-3 w-100">
                                <label for="name" class="form-label text-black required">Name:</label>
                                <input type="text" name="name" class="form-control text-black" id="name" value="" disabled required>
                            </div>
                        </li>
                        <li class="d-flex mb-2">
                            <div class="mb-3 w-100">
                                <label for="leader" class="form-label text-black required">Leader:</label>
                                <select class="form-select" id="leader" name="leader" data-placeholder="Choose one person" disabled required>
                                    <option></option>
                                </select>
                            </div>
                        </li>
                        <li class="d-flex mb-2">
                            <div class="mb-3 w-100">
                                <label for="email" class="form-label text-black required">Email:</label>
                                <input type="email" name="email" class="form-control text-black" id="email" value="" disabled required>
                            </div>
                        </li>
                        <li class="d-flex mb-2">
                            <div class="mb-3 w-100">
                                <label for="phone" class="form-label text-black required">Phone:</label>
                                <input type="tel" name="phone" class="form-control text-black" id="phone" value="" disabled required>
                            </div>
                        </li>
                        <li class="d-flex mb-2">
                            <div class="mb-3 w-100">
                                <label for="desc" class="form-label text-black required">Description:</label>
                                <input type="text" name="desc" class="form-control text-black" id="desc" value="" disabled required>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="projects-info" class="card">
                <div class="card-header d-flex flex-row justify-content-between">
                    <div class="header-title">
                        <h4 class="card-title">Projects</h4>
                    </div>
                    <div>
                        <button class="edit me-2 border-0 bg-transparent text-warning h4">
                            <i class="fa-regular fa-pen-to-square"></i>
                        </button>
                        <button class="add me-2 border-0 bg-transparent text-primary h4">
                            <i class="fa-regular fa-square-plus"></i>
                        </button>
                        <button class="submit border-0 bg-transparent h4 text-light">
                            <i class="fa-regular fa-square-check"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="twit-feed">
                        <div class="d-flex align-items-center mb-2">
                            <div class="media-support-info">
                                <h6 class="mb-0">Figma Community</h6>
                            </div>
                        </div>
                        <div class="media-support-body">
                            <p class="mb-0">
                                Lorem Ipsum is simply dummy text of the printing and typesetting
                                industry
                            </p>
                        </div>
                    </div>
                    <hr class="my-4">
                    <div class="twit-feed">
                        <div class="d-flex align-items-center mb-2">
                            <div class="media-support-info">
                                <h6 class="mb-0">Flutter</h6>
                            </div>
                        </div>
                        <div class="media-support-body">
                            <p class="mb-0">
                                Lorem Ipsum is simply dummy text of the printing and typesetting
                                industry
                            </p>
                        </div>
                    </div>
                    <hr class="my-4">
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="card" data-aos="fade-up" data-aos-delay="900">
                <div class="flex-wrap card-header d-flex justify-content-between">
                    <div class="header-title">
                        <h4 class="card-title">Average evaluation</h4>
                    </div>
                    <div class="dropdown me-5">
                        <a href="#" class="text-gray dropdown-toggle" id="dropdownMenuButton1"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            This Week
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end"
                            aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" href="#">This Week</a></li>
                            <li><a class="dropdown-item" href="#">This Month</a></li>
                            <li><a class="dropdown-item" href="#">This Year</a></li>
                        </ul>
                    </div>
                </div>
                <div class="card-body">
                    <div class="flex-wrap d-flex align-items-center justify-content-between">
                        <div id="myChart" class="col-md-8 col-lg-8 myChart"></div>
                        <div class="d-grid gap col-md-4 col-lg-4">
                            <div class="d-flex align-items-start">
                                <svg class="mt-2 icon-14" xmlns="http://www.w3.org/2000/svg" width="14"
                                     viewBox="0 0 24 24" fill="#3a57e8">
                                    <g>
                                        <circle cx="12" cy="12" r="8" fill="#3a57e8"></circle>
                                    </g>
                                </svg>
                                <div class="ms-3">
                                    <span class="text-gray">Highest Dep</span>
                                    <h6>76.0</h6>
                                </div>
                            </div>
                            <div class="d-flex align-items-start">
                                <svg class="mt-2 icon-14" xmlns="http://www.w3.org/2000/svg" width="14"
                                     viewBox="0 0 24 24" fill="#4bc7d2">
                                    <g>
                                        <circle cx="12" cy="12" r="8" fill="#4bc7d2"></circle>
                                    </g>
                                </svg>
                                <div class="ms-3">
                                    <span class="text-gray">My Dep</span>
                                    <h6>53.0</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section script
{
    <script>
        $(document).ready(function () {
            const urlParams = new URLSearchParams(window.location.search);
            const proj_code = urlParams.get("projcode");

            let emp_list = [];
            let proj_name = null;

            let data = {
                proj_code: proj_code
            };
            console.log(data);
            $.ajax({
                url: "/project/editdata",
                data: data,
                type: "POST",
                success: function (result) {
                    switch (result.status) {
                        case StatusCode.Success:
                            data = JSON.parse(result.data);
                            console.log(data);

                            let project = data.project;
                            emp_list = data.emp_list;

                            $(".proj-code").text(project.PROJ_CODE)
                            $(".proj-name").text(project.PROJ_NAME);

                            $("input#code").val(project.PROJ_CODE);
                            $("input#name").val(project.PROJ_NAME);

                            emp_list.forEach(function (item, index) {
                                $("select#leader").append('<option value="' + item.EMP_NUM + '">' + item.OPTION + '</option>')
                            })
                            $("select#leader option[value='" + project.EMP_NUM + "']").prop("selected", true);
                            $('#leader').select2({
                                theme: "bootstrap-5",
                                width: $(this).data('width') ? $(this).data('width') : $(this).hasClass('w-100') ? '100%' : 'style',
                                placeholder: $(this).data('placeholder')
                            });
                            $("input#email").val(project.LEADER_EMAIL);
                            $("input#phone").val(project.LEADER_PHONE);
                            $("input#desc").val(project.PROJ_DESC);
                            $("#my-modal").fadeOut();
                            break;
                        default:
                            AppendAlert("Get project data failed!", StatusAlert.Error);
                            break;
                    }
                }
            })

            // About info
            $("#about-info .edit").click(function () {
                $("#about-info .edit, #projects-info .edit, #projects-info .add").removeClass("text-danger text-primary").addClass("text-light");
                $("#about-info .submit").removeClass("text-light").addClass("text-success");
                $("#name, #leader, #desc").prop("disabled", false);
            })
            $("#about-info .submit").click(function () {
                if (!validate()) return;

                proj_name = $("input#name").val();

                let data = {
                    code: proj_code,
                    name: proj_name,
                    leader: $("select#leader").val(),
                    desc: $("input#desc").val()
                }
                console.log(data);
                $.ajax({
                    url: "/project/editsubmit",
                    data: data,
                    type: "POST",
                    success: function (result) {
                        switch (result.status) {
                            case StatusCode.Success:
                                $(".proj-code").text(proj_code);
                                $(".proj-name").text(proj_name);

                                $(this).removeClass("text-success").addClass("text-light");
                                $("#about-info .edit, #projects-info .edit").removeClass("text-light").addClass("text-danger");
                                $("#projects-info .add").removeClass("text-light").addClass("text-primary");
                                $("#name, #leader, #desc").prop("disabled", true);

                                AppendAlert("Update successfully!", StatusAlert.Success);
                                break;
                            default:
                                AppendAlert("Error!", StatusAlert.Error);
                                break;
                        }
                    }
                })
            })

            // Projects info
            $("#projects-info .edit").click(function () {
                $("#about-info .edit, #projects-info .edit, #projects-info .add").removeClass("text-danger text-primary").addClass("text-light");
                $("#projects-info .submit").removeClass("text-light").addClass("text-success");
            })
            $("#projects-info .add").click(function () {
                $("#about-info .edit, #projects-info .edit, #projects-info .add").removeClass("text-danger text-primary").addClass("text-light");
                $("#projects-info .submit").removeClass("text-light").addClass("text-success");
            })
            $("#projects-info .submit").click(function () {
                $(this).removeClass("text-success").addClass("text-light");
                $("#about-info .edit, #projects-info .edit").removeClass("text-light").addClass("text-danger");
                $("#projects-info .add").removeClass("text-light").addClass("text-primary");
            })

            $("select#leader").change(function () {
                emp_list.forEach(function (item, index) {
                    if ($("option[value='" + item.EMP_NUM + "']").prop("selected")) {
                        $("input#email").val(item.EMP_EMAIL);
                        $("input#phone").val(item.EMP_PHONE);
                    }
                });
            })
        })
    </script>
}