USE [master]
GO
/****** Object:  Database [QLNS]    Script Date: 2023-12-24 6:18:55 PM ******/
CREATE DATABASE [QLNS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLNS', FILENAME = N'D:\SQLServer\MSSQL16.DARKIN\MSSQL\DATA\QLNS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLNS_log', FILENAME = N'D:\SQLServer\MSSQL16.DARKIN\MSSQL\DATA\QLNS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLNS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLNS]
GO
/****** Object:  Table [dbo].[CONTRACT]    Script Date: 2023-12-24 6:18:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONTRACT](
	[CONTR_NUM] [int] NOT NULL,
	[EMP_NUM] [int] NULL,
	[CONTR_SIGN_DATE] [date] NOT NULL,
	[CONTR_END_DATE] [date] NOT NULL,
	[CONTR_SAL_BASE] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[CONTR_NUM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DEGREE]    Script Date: 2023-12-24 6:18:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEGREE](
	[DEG_CODE] [varchar](10) NOT NULL,
	[DEG_NAME] [nvarchar](50) NOT NULL,
	[DEG_DESC] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[DEG_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DEGREE_CONFIRM]    Script Date: 2023-12-24 6:18:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEGREE_CONFIRM](
	[DEG_CODE] [varchar](10) NOT NULL,
	[EMP_NUM] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DEG_CODE] ASC,
	[EMP_NUM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DEPARTMENT]    Script Date: 2023-12-24 6:18:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEPARTMENT](
	[DEPT_CODE] [varchar](10) NOT NULL,
	[DEPT_NAME] [nvarchar](20) NOT NULL,
	[EMP_NUM] [int] NOT NULL,
	[DEPT_ADDRESS] [nvarchar](50) NULL,
	[DEPT_DESC] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[DEPT_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMPLOYEE]    Script Date: 2023-12-24 6:18:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPLOYEE](
	[EMP_NUM] [int] NOT NULL,
	[EMP_NAME] [nvarchar](50) NOT NULL,
	[EMP_GENDER] [nvarchar](3) NOT NULL,
	[EMP_DOB] [date] NOT NULL,
	[EMP_ADDRESS] [nvarchar](100) NOT NULL,
	[EMP_ID] [varchar](20) NOT NULL,
	[EMP_PLACE_OG] [nvarchar](20) NULL,
	[EMP_PHONE] [varchar](10) NULL,
	[EMP_EMAIL] [varchar](30) NOT NULL,
	[EMP_REL] [nvarchar](20) NULL,
	[EMP_NAT] [varchar](20) NOT NULL,
	[DEPT_CODE] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EMP_NUM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EVALUATION]    Script Date: 2023-12-24 6:18:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EVALUATION](
	[EVAL_NUM] [int] NOT NULL,
	[EMP_NUM] [int] NOT NULL,
	[PROJ_CODE] [varchar](10) NOT NULL,
	[EVAL_HRDWRK] [int] NOT NULL,
	[EVAL_FRDLY] [int] NOT NULL,
	[EVAL_CRTV] [int] NOT NULL,
	[EVAL_CMT] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[EVAL_NUM] ASC,
	[EMP_NUM] ASC,
	[PROJ_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FEEDBACK]    Script Date: 2023-12-24 6:18:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FEEDBACK](
	[FDBK_NUM] [int] IDENTITY(1,1) NOT NULL,
	[FDBK_DATE] [date] NOT NULL,
	[DEPT_CODE] [varchar](10) NOT NULL,
	[EMP_NUM] [int] NOT NULL,
	[FDBK_DESC] [nvarchar](200) NULL,
	[FDBK_SCALE] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[FDBK_NUM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NOTIFICATION]    Script Date: 2023-12-24 6:18:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NOTIFICATION](
	[NOTIF_NUM] [int] IDENTITY(1,1) NOT NULL,
	[EMP_NUM] [int] NOT NULL,
	[NOTIF_DATE] [date] NOT NULL,
	[NOTIF_DETAIL] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NOTIF_NUM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROJECT]    Script Date: 2023-12-24 6:18:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROJECT](
	[PROJ_CODE] [varchar](10) NOT NULL,
	[PROJ_NAME] [nvarchar](30) NOT NULL,
	[EMP_NUM] [int] NOT NULL,
	[PROJ_DESC] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[PROJ_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROJECT_TASK]    Script Date: 2023-12-24 6:18:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROJECT_TASK](
	[PROJTSK_NUM] [int] NOT NULL,
	[EMP_NUM] [int] NOT NULL,
	[PROJ_CODE] [varchar](10) NOT NULL,
	[PROJTSK_PROG] [float] NOT NULL,
	[PROJTSK_DOC] [nvarchar](100) NULL,
	[PROJTSK_IMG] [nvarchar](100) NULL,
	[PROJTSK_DESC] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[PROJTSK_NUM] ASC,
	[EMP_NUM] ASC,
	[PROJ_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SALARY]    Script Date: 2023-12-24 6:18:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SALARY](
	[CONTR_NUM] [int] NOT NULL,
	[SAL_DATE] [date] NOT NULL,
	[SAL_INC] [money] NULL,
	[SAL_BONUS] [money] NULL,
	[SAL_ALLW] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[CONTR_NUM] ASC,
	[SAL_DATE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIME_KEEP]    Script Date: 2023-12-24 6:18:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIME_KEEP](
	[TIME_CODE] [varchar](20) NOT NULL,
	[EMP_NUM] [int] NOT NULL,
	[TIME_DATE] [date] NOT NULL,
	[TIME_CLK_IN] [time](7) NULL,
	[TIME_CLK_OUT] [time](7) NULL,
	[TIME_ABST] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TIME_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USERS]    Script Date: 2023-12-24 6:18:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERS](
	[USER_ID] [int] NOT NULL,
	[USER_PSWD] [varchar](256) NOT NULL,
	[USER_TOKEN] [varchar](256) NULL,
	[USER_POS] [nvarchar](20) NOT NULL,
	[USER_STATE] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CONTRACT] ([CONTR_NUM], [EMP_NUM], [CONTR_SIGN_DATE], [CONTR_END_DATE], [CONTR_SAL_BASE]) VALUES (6666, 10004, CAST(N'2023-12-13' AS Date), CAST(N'2027-12-13' AS Date), 10000000.0000)
INSERT [dbo].[CONTRACT] ([CONTR_NUM], [EMP_NUM], [CONTR_SIGN_DATE], [CONTR_END_DATE], [CONTR_SAL_BASE]) VALUES (7777, 10003, CAST(N'2023-12-13' AS Date), CAST(N'2027-12-13' AS Date), 10000000.0000)
INSERT [dbo].[CONTRACT] ([CONTR_NUM], [EMP_NUM], [CONTR_SIGN_DATE], [CONTR_END_DATE], [CONTR_SAL_BASE]) VALUES (8888, 10002, CAST(N'2023-12-13' AS Date), CAST(N'2027-12-13' AS Date), 10000000.0000)
GO
INSERT [dbo].[DEGREE] ([DEG_CODE], [DEG_NAME], [DEG_DESC]) VALUES (N'KS', N'Kỹ sư', NULL)
INSERT [dbo].[DEGREE] ([DEG_CODE], [DEG_NAME], [DEG_DESC]) VALUES (N'THS', N'Thạc sĩ', NULL)
INSERT [dbo].[DEGREE] ([DEG_CODE], [DEG_NAME], [DEG_DESC]) VALUES (N'TS', N'bằng tiến sĩ', NULL)
GO
INSERT [dbo].[DEGREE_CONFIRM] ([DEG_CODE], [EMP_NUM]) VALUES (N'KS', 10006)
INSERT [dbo].[DEGREE_CONFIRM] ([DEG_CODE], [EMP_NUM]) VALUES (N'KS', 10008)
INSERT [dbo].[DEGREE_CONFIRM] ([DEG_CODE], [EMP_NUM]) VALUES (N'KS', 10010)
GO
INSERT [dbo].[DEPARTMENT] ([DEPT_CODE], [DEPT_NAME], [EMP_NUM], [DEPT_ADDRESS], [DEPT_DESC]) VALUES (N'FINANCE', N'Kế Toán', 10005, N'Tầng 5, Tòa nhà A', N'Bộ phận Kế toán và Tài chính')
INSERT [dbo].[DEPARTMENT] ([DEPT_CODE], [DEPT_NAME], [EMP_NUM], [DEPT_ADDRESS], [DEPT_DESC]) VALUES (N'MARKETING', N'Tiếp Thị', 10006, N'Tầng 3, Tòa nhà B', N'Bộ phận Tiếp thị và Quảng cáo')
INSERT [dbo].[DEPARTMENT] ([DEPT_CODE], [DEPT_NAME], [EMP_NUM], [DEPT_ADDRESS], [DEPT_DESC]) VALUES (N'TECH', N'Kỹ thuật', 10001, N'Ở nhà', N'Bọn siêu nhân có mọi chức năng thao tác với hệ thống')
GO
INSERT [dbo].[EMPLOYEE] ([EMP_NUM], [EMP_NAME], [EMP_GENDER], [EMP_DOB], [EMP_ADDRESS], [EMP_ID], [EMP_PLACE_OG], [EMP_PHONE], [EMP_EMAIL], [EMP_REL], [EMP_NAT], [DEPT_CODE]) VALUES (10001, N'Nguyễn Quản Trị', N'Nam', CAST(N'2003-03-14' AS Date), N'606 Đường Phan Chu Trinh, Quận Hoàn Kiếm, Hà Nội', N'ID1001', N'Hà Nội', N'0983581617', N'duong0185266@huce.edu.vn', N'Phật giáo', N'Vietnamese', N'TECH')
INSERT [dbo].[EMPLOYEE] ([EMP_NUM], [EMP_NAME], [EMP_GENDER], [EMP_DOB], [EMP_ADDRESS], [EMP_ID], [EMP_PLACE_OG], [EMP_PHONE], [EMP_EMAIL], [EMP_REL], [EMP_NAT], [DEPT_CODE]) VALUES (10002, N'Nguyễn Quốc Việt', N'Nam', CAST(N'2003-03-14' AS Date), N'606 Đường Phan Chu Trinh, Quận Hoàn Kiếm, Hà Nội', N'ID1002', N'Hà Nội', N'0983581617', N'duong0185266@huce.edu.vn', N'Không tôn giáo', N'Vietnamese', N'TECH')
INSERT [dbo].[EMPLOYEE] ([EMP_NUM], [EMP_NAME], [EMP_GENDER], [EMP_DOB], [EMP_ADDRESS], [EMP_ID], [EMP_PLACE_OG], [EMP_PHONE], [EMP_EMAIL], [EMP_REL], [EMP_NAT], [DEPT_CODE]) VALUES (10003, N'Trần Quang Nam', N'Nam', CAST(N'2003-03-14' AS Date), N'606 Đường Phan Chu Trinh, Quận Hoàn Kiếm, Hà Nội', N'ID1003', N'Hà Nội', N'0983581617', N'duong0185266@huce.edu.vn', N'Không tôn giáo', N'Vietnamese', N'TECH')
GO
INSERT [dbo].[EVALUATION] ([EVAL_NUM], [EMP_NUM], [PROJ_CODE], [EVAL_HRDWRK], [EVAL_FRDLY], [EVAL_CRTV], [EVAL_CMT]) VALUES (10012, 10014, N'PROJ01', 50, 100, 50, NULL)
INSERT [dbo].[EVALUATION] ([EVAL_NUM], [EMP_NUM], [PROJ_CODE], [EVAL_HRDWRK], [EVAL_FRDLY], [EVAL_CRTV], [EVAL_CMT]) VALUES (10013, 10016, N'PROJ02', 100, 50, 50, N'Xuất sắc ')
INSERT [dbo].[EVALUATION] ([EVAL_NUM], [EMP_NUM], [PROJ_CODE], [EVAL_HRDWRK], [EVAL_FRDLY], [EVAL_CRTV], [EVAL_CMT]) VALUES (10014, 10015, N'PROJ03', 25, 25, 50, N'Đạt yêu cầu công việc')
GO
SET IDENTITY_INSERT [dbo].[FEEDBACK] ON 

INSERT [dbo].[FEEDBACK] ([FDBK_NUM], [FDBK_DATE], [DEPT_CODE], [EMP_NUM], [FDBK_DESC], [FDBK_SCALE]) VALUES (1, CAST(N'2023-12-13' AS Date), N'TECH', 10001, N'Đáng khen', 2)
INSERT [dbo].[FEEDBACK] ([FDBK_NUM], [FDBK_DATE], [DEPT_CODE], [EMP_NUM], [FDBK_DESC], [FDBK_SCALE]) VALUES (2, CAST(N'2023-12-13' AS Date), N'TECH', 10002, N'Đáng khen', 2)
INSERT [dbo].[FEEDBACK] ([FDBK_NUM], [FDBK_DATE], [DEPT_CODE], [EMP_NUM], [FDBK_DESC], [FDBK_SCALE]) VALUES (3, CAST(N'2023-12-13' AS Date), N'TECH', 10003, N'Đáng khen', 2)
SET IDENTITY_INSERT [dbo].[FEEDBACK] OFF
GO
SET IDENTITY_INSERT [dbo].[NOTIFICATION] ON 

INSERT [dbo].[NOTIFICATION] ([NOTIF_NUM], [EMP_NUM], [NOTIF_DATE], [NOTIF_DETAIL]) VALUES (1, 10001, CAST(N'2023-12-13' AS Date), N'Đây là thông báo 1')
INSERT [dbo].[NOTIFICATION] ([NOTIF_NUM], [EMP_NUM], [NOTIF_DATE], [NOTIF_DETAIL]) VALUES (2, 10001, CAST(N'2023-12-13' AS Date), N'Đây là thông báo 2')
INSERT [dbo].[NOTIFICATION] ([NOTIF_NUM], [EMP_NUM], [NOTIF_DATE], [NOTIF_DETAIL]) VALUES (3, 10005, CAST(N'2023-12-13' AS Date), N'Nhắc nhở nhiệm vụ')
SET IDENTITY_INSERT [dbo].[NOTIFICATION] OFF
GO
INSERT [dbo].[PROJECT] ([PROJ_CODE], [PROJ_NAME], [EMP_NUM], [PROJ_DESC]) VALUES (N'PROJ01', N'Dự Án ABC', 10012, N'Dự án ABC là một dự án lớn về phát triển sản phẩm mới')
INSERT [dbo].[PROJECT] ([PROJ_CODE], [PROJ_NAME], [EMP_NUM], [PROJ_DESC]) VALUES (N'PROJ02', N'Dự Án XYZ', 10013, N'Dự án XYZ tập trung vào nâng cấp hạ tầng công nghệ')
INSERT [dbo].[PROJECT] ([PROJ_CODE], [PROJ_NAME], [EMP_NUM], [PROJ_DESC]) VALUES (N'PROJ03', N'Dự Án 123', 10014, N'Dự án 123 đang phát triển ứng dụng di động mới')
GO
INSERT [dbo].[PROJECT_TASK] ([PROJTSK_NUM], [EMP_NUM], [PROJ_CODE], [PROJTSK_PROG], [PROJTSK_DOC], [PROJTSK_IMG], [PROJTSK_DESC]) VALUES (1, 10012, N'PROJ01', 29, NULL, NULL, N'Nhận nhiệm vụ')
INSERT [dbo].[PROJECT_TASK] ([PROJTSK_NUM], [EMP_NUM], [PROJ_CODE], [PROJTSK_PROG], [PROJTSK_DOC], [PROJTSK_IMG], [PROJTSK_DESC]) VALUES (1, 10013, N'PROJ02', 80, NULL, NULL, N'Nhận nhiệm vụ')
INSERT [dbo].[PROJECT_TASK] ([PROJTSK_NUM], [EMP_NUM], [PROJ_CODE], [PROJTSK_PROG], [PROJTSK_DOC], [PROJTSK_IMG], [PROJTSK_DESC]) VALUES (1, 10014, N'PROJ03', 46, NULL, NULL, N'Nhận nhiệm vụ')
GO
INSERT [dbo].[SALARY] ([CONTR_NUM], [SAL_DATE], [SAL_INC], [SAL_BONUS], [SAL_ALLW]) VALUES (6666, CAST(N'2023-12-13' AS Date), NULL, NULL, NULL)
INSERT [dbo].[SALARY] ([CONTR_NUM], [SAL_DATE], [SAL_INC], [SAL_BONUS], [SAL_ALLW]) VALUES (7777, CAST(N'2023-12-13' AS Date), NULL, NULL, NULL)
INSERT [dbo].[SALARY] ([CONTR_NUM], [SAL_DATE], [SAL_INC], [SAL_BONUS], [SAL_ALLW]) VALUES (8888, CAST(N'2023-12-13' AS Date), NULL, NULL, NULL)
GO
INSERT [dbo].[TIME_KEEP] ([TIME_CODE], [EMP_NUM], [TIME_DATE], [TIME_CLK_IN], [TIME_CLK_OUT], [TIME_ABST]) VALUES (N'2023110-10012', 10012, CAST(N'2023-01-10' AS Date), CAST(N'08:46:04' AS Time), CAST(N'08:46:14' AS Time), 1)
INSERT [dbo].[TIME_KEEP] ([TIME_CODE], [EMP_NUM], [TIME_DATE], [TIME_CLK_IN], [TIME_CLK_OUT], [TIME_ABST]) VALUES (N'20231213-10010', 10010, CAST(N'2023-12-13' AS Date), CAST(N'21:29:19' AS Time), NULL, 1)
INSERT [dbo].[TIME_KEEP] ([TIME_CODE], [EMP_NUM], [TIME_DATE], [TIME_CLK_IN], [TIME_CLK_OUT], [TIME_ABST]) VALUES (N'20231214-10015', 10015, CAST(N'2023-12-14' AS Date), CAST(N'09:26:59' AS Time), NULL, 1)
GO
INSERT [dbo].[USERS] ([USER_ID], [USER_PSWD], [USER_TOKEN], [USER_POS], [USER_STATE]) VALUES (10001, N'12345', NULL, N'ADMIN', 1)
INSERT [dbo].[USERS] ([USER_ID], [USER_PSWD], [USER_TOKEN], [USER_POS], [USER_STATE]) VALUES (10002, N'12345', NULL, N'ADMIN', 1)
INSERT [dbo].[USERS] ([USER_ID], [USER_PSWD], [USER_TOKEN], [USER_POS], [USER_STATE]) VALUES (10003, N'12345', NULL, N'ADMIN', 1)
GO
ALTER TABLE [dbo].[CONTRACT] ADD  DEFAULT (getdate()) FOR [CONTR_SIGN_DATE]
GO
ALTER TABLE [dbo].[CONTRACT] ADD  DEFAULT (dateadd(year,(4),getdate())) FOR [CONTR_END_DATE]
GO
ALTER TABLE [dbo].[EMPLOYEE] ADD  DEFAULT ('Vietnamese') FOR [EMP_NAT]
GO
ALTER TABLE [dbo].[FEEDBACK] ADD  DEFAULT (getdate()) FOR [FDBK_DATE]
GO
ALTER TABLE [dbo].[NOTIFICATION] ADD  DEFAULT (getdate()) FOR [NOTIF_DATE]
GO
ALTER TABLE [dbo].[PROJECT_TASK] ADD  DEFAULT ((0)) FOR [PROJTSK_PROG]
GO
ALTER TABLE [dbo].[SALARY] ADD  DEFAULT (getdate()) FOR [SAL_DATE]
GO
ALTER TABLE [dbo].[TIME_KEEP] ADD  DEFAULT (getdate()) FOR [TIME_DATE]
GO
ALTER TABLE [dbo].[TIME_KEEP] ADD  DEFAULT (CONVERT([time],getdate())) FOR [TIME_CLK_IN]
GO
ALTER TABLE [dbo].[TIME_KEEP] ADD  DEFAULT (dateadd(hour,(8),CONVERT([time],getdate()))) FOR [TIME_CLK_OUT]
GO
ALTER TABLE [dbo].[TIME_KEEP] ADD  DEFAULT ((-1)) FOR [TIME_ABST]
GO
ALTER TABLE [dbo].[CONTRACT]  WITH CHECK ADD  CONSTRAINT [CONTR_FK_EMP] FOREIGN KEY([EMP_NUM])
REFERENCES [dbo].[EMPLOYEE] ([EMP_NUM])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CONTRACT] CHECK CONSTRAINT [CONTR_FK_EMP]
GO
ALTER TABLE [dbo].[DEGREE_CONFIRM]  WITH CHECK ADD  CONSTRAINT [DEGCON_FK_DEG] FOREIGN KEY([DEG_CODE])
REFERENCES [dbo].[DEGREE] ([DEG_CODE])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[DEGREE_CONFIRM] CHECK CONSTRAINT [DEGCON_FK_DEG]
GO
ALTER TABLE [dbo].[DEGREE_CONFIRM]  WITH CHECK ADD  CONSTRAINT [DEGCON_FK_EMP] FOREIGN KEY([EMP_NUM])
REFERENCES [dbo].[EMPLOYEE] ([EMP_NUM])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[DEGREE_CONFIRM] CHECK CONSTRAINT [DEGCON_FK_EMP]
GO
ALTER TABLE [dbo].[DEPARTMENT]  WITH CHECK ADD  CONSTRAINT [DEPT_FK_EMP] FOREIGN KEY([EMP_NUM])
REFERENCES [dbo].[EMPLOYEE] ([EMP_NUM])
GO
ALTER TABLE [dbo].[DEPARTMENT] CHECK CONSTRAINT [DEPT_FK_EMP]
GO
ALTER TABLE [dbo].[EMPLOYEE]  WITH CHECK ADD  CONSTRAINT [EMP_FK_DEPT] FOREIGN KEY([DEPT_CODE])
REFERENCES [dbo].[DEPARTMENT] ([DEPT_CODE])
GO
ALTER TABLE [dbo].[EMPLOYEE] CHECK CONSTRAINT [EMP_FK_DEPT]
GO
ALTER TABLE [dbo].[EVALUATION]  WITH CHECK ADD  CONSTRAINT [EVAL_FK_EMP_1] FOREIGN KEY([EVAL_NUM])
REFERENCES [dbo].[EMPLOYEE] ([EMP_NUM])
GO
ALTER TABLE [dbo].[EVALUATION] CHECK CONSTRAINT [EVAL_FK_EMP_1]
GO
ALTER TABLE [dbo].[EVALUATION]  WITH CHECK ADD  CONSTRAINT [EVAL_FK_EMP_2] FOREIGN KEY([EMP_NUM])
REFERENCES [dbo].[EMPLOYEE] ([EMP_NUM])
GO
ALTER TABLE [dbo].[EVALUATION] CHECK CONSTRAINT [EVAL_FK_EMP_2]
GO
ALTER TABLE [dbo].[EVALUATION]  WITH CHECK ADD  CONSTRAINT [EVAL_FK_PROJ] FOREIGN KEY([PROJ_CODE])
REFERENCES [dbo].[PROJECT] ([PROJ_CODE])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[EVALUATION] CHECK CONSTRAINT [EVAL_FK_PROJ]
GO
ALTER TABLE [dbo].[FEEDBACK]  WITH CHECK ADD  CONSTRAINT [FDBK_FK_EMP] FOREIGN KEY([EMP_NUM])
REFERENCES [dbo].[EMPLOYEE] ([EMP_NUM])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[FEEDBACK] CHECK CONSTRAINT [FDBK_FK_EMP]
GO
ALTER TABLE [dbo].[NOTIFICATION]  WITH CHECK ADD  CONSTRAINT [NOTIF_FK_EMP] FOREIGN KEY([EMP_NUM])
REFERENCES [dbo].[EMPLOYEE] ([EMP_NUM])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[NOTIFICATION] CHECK CONSTRAINT [NOTIF_FK_EMP]
GO
ALTER TABLE [dbo].[PROJECT]  WITH CHECK ADD  CONSTRAINT [PROJ_FK_EMP] FOREIGN KEY([EMP_NUM])
REFERENCES [dbo].[EMPLOYEE] ([EMP_NUM])
GO
ALTER TABLE [dbo].[PROJECT] CHECK CONSTRAINT [PROJ_FK_EMP]
GO
ALTER TABLE [dbo].[PROJECT_TASK]  WITH CHECK ADD  CONSTRAINT [PROJTSK_FK_EMP] FOREIGN KEY([EMP_NUM])
REFERENCES [dbo].[EMPLOYEE] ([EMP_NUM])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[PROJECT_TASK] CHECK CONSTRAINT [PROJTSK_FK_EMP]
GO
ALTER TABLE [dbo].[PROJECT_TASK]  WITH CHECK ADD  CONSTRAINT [PROJTSK_FK_PROJ] FOREIGN KEY([PROJ_CODE])
REFERENCES [dbo].[PROJECT] ([PROJ_CODE])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[PROJECT_TASK] CHECK CONSTRAINT [PROJTSK_FK_PROJ]
GO
ALTER TABLE [dbo].[SALARY]  WITH CHECK ADD  CONSTRAINT [SAL_FK_CONTR] FOREIGN KEY([CONTR_NUM])
REFERENCES [dbo].[CONTRACT] ([CONTR_NUM])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[SALARY] CHECK CONSTRAINT [SAL_FK_CONTR]
GO
ALTER TABLE [dbo].[TIME_KEEP]  WITH CHECK ADD  CONSTRAINT [TIME_FK_EMP] FOREIGN KEY([EMP_NUM])
REFERENCES [dbo].[EMPLOYEE] ([EMP_NUM])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[TIME_KEEP] CHECK CONSTRAINT [TIME_FK_EMP]
GO
ALTER TABLE [dbo].[USERS]  WITH CHECK ADD  CONSTRAINT [USER_FK_EMP] FOREIGN KEY([USER_ID])
REFERENCES [dbo].[EMPLOYEE] ([EMP_NUM])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[USERS] CHECK CONSTRAINT [USER_FK_EMP]
GO
USE [master]
GO
