@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="conatiner-fluid content-inner mt-n5 py-0">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex flex-wrap align-items-center justify-content-between">
                        <div class="d-flex flex-wrap align-items-center">
                            <div class="d-flex flex-wrap align-items-center mb-3 mb-sm-0">
                                <h4 class="me-2 h4">Add Employee</h4>
                            </div>
                        </div>
                        <div>
                            <button class="submit border-0 bg-transparent h4 me-2 text-success">
                                <i class="fa-solid fa-square-check"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card" id="about-info">
                <div class="card-header d-flex flex-row justify-content-between">
                    <div class="header-title">
                        <h4 class="card-title">About</h4>
                    </div>
                </div>
                <div class="card-body">
                    <ul class="list-inline m-0 p-0">
                        <li class="d-flex mb-2">
                            <div class="mb-3 w-100">
                                <label for="code" class="form-label text-black required">Number:</label>
                                <input type="text" name="code" class="form-control text-black" id="code" required>
                            </div>
                        </li>
                        <li class="d-flex mb-2">
                            <div class="mb-3 w-100">
                                <label for="name" class="form-label text-black required">Name:</label>
                                <input type="text" name="name" class="form-control text-black" id="name" required>
                            </div>
                        </li>
                        <li class="d-flex mb-2">
                            <div class="mb-3 w-100">
                                <label for="gender" class="form-label text-black required">Gender:</label>
                                <select class="form-select text-black" id="gender" name="gender" data-placeholder="Choose gender" required>
                                    <option selected></option>
                                    <option value="Nam">Nam</option>
                                    <option value="Nữ">Nữ</option>
                                </select>
                            </div>
                        </li>
                        <li class="d-flex mb-2">
                            <div class="mb-3 w-100">
                                <label for="dob" class="form-label text-black required">Date of birth:</label>
                                <input type="date" name="dob" class="form-control text-black" id="dob" required>
                            </div>
                        </li>
                        <li class="d-flex mb-2">
                            <div class="mb-3 w-100">
                                <label for="address" class="form-label text-black required">Address:</label>
                                <input type="text" name="address" class="form-control text-black" id="address" required>
                            </div>
                        </li>
                        <li class="d-flex mb-2">
                            <div class="mb-3 w-100">
                                <label for="id" class="form-label text-black required">ID:</label>
                                <input type="text" name="id" class="form-control text-black" id="id" required>
                            </div>
                        </li>
                        <li class="d-flex mb-2">
                            <div class="mb-3 w-100">
                                <label for="placeog" class="form-label text-black required">Place of origin:</label>
                                <input type="text" name="placeog" class="form-control text-black" id="placeog" required>
                            </div>
                        </li>
                        <li class="d-flex mb-2">
                            <div class="mb-3 w-100">
                                <label for="phone" class="form-label text-black required">Phone:</label>
                                <input type="tel" name="phone" class="form-control text-black" id="phone" required>
                            </div>
                        </li>
                        <li class="d-flex mb-2">
                            <div class="mb-3 w-100">
                                <label for="email" class="form-label text-black required">Email:</label>
                                <input type="email" name="email" class="form-control text-black" id="email" required>
                            </div>
                        </li>
                        <li class="d-flex mb-2">
                            <div class="mb-3 w-100">
                                <label for="religion" class="form-label text-black">Religion:</label>
                                <input type="text" name="religion" class="form-control text-black" id="religion">
                            </div>
                        </li>
                        <li class="d-flex mb-2">
                            <div class="mb-3 w-100">
                                <label for="department" class="form-label text-black required">Department:</label>
                                <select class="form-select" id="department" name="department" data-placeholder="Choose one department" required>
                                    <option></option>
                                </select>
                            </div>
                        </li>
                        <li class="d-flex mb-2">
                            <div class="mb-3 w-100">
                                <label for="degrees" class="form-label text-black">Degree(s):</label>
                                <select class="form-select" id="degrees" name="degrees" data-placeholder="Choose degree(s)" multiple>
                                    <option></option>
                                </select>
                            </div>
                        </li>
                        <li class="d-flex mb-2">
                            <div class="mb-3 w-100">
                                <label for="contract" class="form-label text-black required">Contract:</label>
                                <select class="form-select" id="contract" name="contract" data-placeholder="Choose one contract" required>
                                    <option></option>
                                </select>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div id="projects-info" class="card">
                <div class="card-header d-flex flex-row justify-content-between">
                    <div class="header-title">
                        <h4 class="card-title">Projects</h4>
                    </div>
                    <div>
                        <button class="add me-2 border-0 bg-transparent text-primary h4">
                            <i class="fa-regular fa-square-plus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="twit-feed">
                        <div class="d-flex align-items-center mb-2">
                            <div class="media-support-info">
                                <h6 class="mb-0">Figma Community</h6>
                            </div>
                        </div>
                        <div class="media-support-body">
                            <p class="mb-0">
                                Lorem Ipsum is simply dummy text of the printing and typesetting
                                industry
                            </p>
                        </div>
                    </div>
                    <hr class="my-4">
                    <div class="twit-feed">
                        <div class="d-flex align-items-center mb-2">
                            <div class="media-support-info">
                                <h6 class="mb-0">Flutter</h6>
                            </div>
                        </div>
                        <div class="media-support-body">
                            <p class="mb-0">
                                Lorem Ipsum is simply dummy text of the printing and typesetting
                                industry
                            </p>
                        </div>
                    </div>
                    <hr class="my-4">
                </div>
            </div>
        </div>
    </div>
</div>

@section script
{
    <script>
        $(document).ready(function () {
            const urlParams = new URLSearchParams(window.location.search);
            const emp_num = urlParams.get("empnum");

            let data = {
                emp_num: emp_num
            };
            $.ajax({
                url: "/employee/adddata",
                data: data,
                type: "POST",
                success: function (result) {
                    switch (result.status) {
                        case StatusCode.Success:
                            data = JSON.parse(result.data);
                            console.log(data);

                            let departments = data.departments;
                            let degrees = data.degrees;
                            let contracts = data.contracts;

                            departments.forEach(function (item, index) {
                                $("select#department").append("<option value='" + item.DEPT_CODE + "'>" + item.DEPT_NAME + "</option>")
                            })
                            $('select#department').select2({
                                theme: "bootstrap-5",
                                width: $(this).data('width') ? $(this).data('width') : $(this).hasClass('w-100') ? '100%' : 'style',
                                placeholder: $(this).data('placeholder')
                            });

                            degrees.forEach(function (item, index) {
                                $("select#degrees").append("<option value='" + item.DEG_CODE + "'>" + item.DEG_NAME + "</option>")
                            })
                            $('select#degrees').select2({
                                theme: "bootstrap-5",
                                width: $(this).data('width') ? $(this).data('width') : $(this).hasClass('w-100') ? '100%' : 'style',
                                placeholder: $(this).data('placeholder'),
                                closeOnSelect: false,
                            });

                            contracts.forEach(function (item, index) {
                                $("select#contract").append("<option value='" + item.CONTR_NUM + "'>" + item.CONTR_NUM + "</option>")
                            })
                            $('select#contract').select2({
                                theme: "bootstrap-5",
                                width: $(this).data('width') ? $(this).data('width') : $(this).hasClass('w-100') ? '100%' : 'style',
                                placeholder: $(this).data('placeholder')
                            });

                            $("#my-modal").fadeOut();
                            break;
                        default:
                            AppendAlert("Get department data failed!", StatusAlert.Error);
                            break;
                    }
                }
            })

            // About info
            $("#about-info .edit").click(function () {
                $("#about-info .edit, #projects-info .edit, #projects-info .add").removeClass("text-danger text-primary").addClass("text-light");
                $("#about-info .submit").removeClass("text-light").addClass("text-success");
                $("#name, #gender, #dob, #address, #placeog, #religion, #department, #degrees").prop("disabled", false);
            })
            $("button.submit").click(function () {
                if (!validate()) return;

                let emp_num = $("input#code").val();
                let name = $("input#name").val();
                let gender = $("select#gender").val();
                let dob = $("input#dob").val();
                let address = $("input#address").val();
                let place_og = $("input#placeog").val();
                let religion = $("input#religion").val();
                let department = $("select#department").val();
                let degrees = $("select#degrees").val();
                console.log(degrees);

                let data = {
                    emp_num: emp_num,
                    name: name,
                    gender: gender,
                    dob: dob,
                    address: address,
                    place_og: place_og,
                    religion: religion,
                    department: department,
                    degrees: JSON.stringify(degrees)
                }
                console.log(data);
                //$.ajax({
                //    url: "/employee/addsubmit",
                //    data: data,
                //    type: "POST",
                //    success: function (result) {
                //        switch (result.status) {
                //            case StatusCode.Success:
                //                $(".emp-name").text(name);

                //                $(this).removeClass("text-success").addClass("text-light");
                //                $("#about-info .edit, #projects-info .edit").removeClass("text-light").addClass("text-danger");
                //                $("#projects-info .add").removeClass("text-light").addClass("text-primary");
                //                $("#name, #gender, #dob, #address, #placeog, #religion, #department, #degrees").prop("disabled", true);

                //                AppendAlert("Update successfully!", StatusAlert.Success);
                //                break;
                //            case StatusCode.NotFound:
                //                AppendAlert(result.message, StatusAlert.Warning);
                //                break;
                //            default:
                //                AppendAlert("Error!", StatusAlert.Error);
                //                break;
                //        }
                //    }
                //})
            })

            // Projects info
            $("#projects-info .edit").click(function () {
                $("#about-info .edit, #projects-info .edit, #projects-info .add").removeClass("text-danger text-primary").addClass("text-light");
                $("#projects-info .submit").removeClass("text-light").addClass("text-success");
            })
            $("#projects-info .add").click(function () {
                $("#about-info .edit, #projects-info .edit, #projects-info .add").removeClass("text-danger text-primary").addClass("text-light");
                $("#projects-info .submit").removeClass("text-light").addClass("text-success");
            })
            $("#projects-info .submit").click(function () {
                $(this).removeClass("text-success").addClass("text-light");
                $("#about-info .edit, #projects-info .edit").removeClass("text-light").addClass("text-danger");
                $("#projects-info .add").removeClass("text-light").addClass("text-primary");
            })
        })
    </script>
}