
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="conatiner-fluid content-inner mt-n5 py-0">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex flex-wrap align-items-center justify-content-between">
                        <div class="d-flex flex-wrap align-items-center">
                            <div class="d-flex flex-wrap align-items-center mb-3 mb-sm-0">
                                <h4 class="me-2 h4 emp-name"></h4>
                            </div>
                        </div>
                        <div>
                            <a role="button" href="" class="edit me-2 border-0 bg-transparent text-warning h4">
                                <i class="fa-regular fa-pen-to-square"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header">
                    <div class="header-title">
                        <h4 class="card-title"></h4>
                    </div>
                </div>
                <div class="card-body">
                    <ul class="list-inline m-0 p-0">
                        <li class="d-flex mb-2">
                            <p class="news-detail mb-0">
                                Hardwork: <span id="eval-hardwork"></span>
                            </p>
                        </li>
                        <li class="d-flex mb-2">
                            <p class="news-detail mb-0">
                                Friendly: <span id="eval-friendly"></span>
                            </p>
                        </li>
                        <li class="d-flex mb-2">
                            <p class="news-detail mb-0">
                                Creative: <span id="eval-creative"></span>
                            </p>
                        </li>
                        <li class="d-flex mb-2">
                            <p class="news-detail mb-0">
                                Comment: <span id="eval-cmt"></span>
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

@section script
{
    <script>
        $(document).ready(function () {
            const urlParams = new URLSearchParams(window.location.search);
            const eval_num = urlParams.get("evalnum");
            const proj_code = urlParams.get("projcode");
            const emp_num = urlParams.get("empnum");

            let data = {
                eval_num: eval_num,
                proj_code: proj_code,
                emp_num: emp_num
            };
            $.ajax({
                url: "/evaluation/detailsdata",
                data: data,
                type: "POST",
                success: function (result) {
                    switch (result.status) {
                        case StatusCode.Success:
                            data = JSON.parse(result.data);
                            console.log(data);

                            $(".emp-name").text("Evaluate: " + data.EMP_NAME + " - " + data.EVAL_NUM);
                            $("h4.card-title").text("Project: " + data.PROJ_CODE + " - " + data.PROJ_NAME);
                            $("#eval-hardwork").text(data.EVAL_HRDWRK);
                            $("#eval-friendly").text(data.EVAL_FRDLY);
                            $("#eval-creative").text(data.EVAL_CRTV);
                            $("#eval-cmt").text(data.EVAL_CMT);
                            $("a.edit").prop("href", "/Evaluation/Edit?evalnum=" + eval_num);
                            $("#my-modal").fadeOut();
                            break;
                        default:
                            AppendAlert("Get evaluation data failed!", StatusAlert.Error);
                            break;
                    }
                }
            })
        })
    </script>
}