@{
    Layout = null;
}

<!doctype html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Plan X | Login</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="/Content/assets/images/favicon.ico" />

    <!-- Library / Plugin Css Build -->
    <link rel="stylesheet" href="/Content/assets/css/core/libs.min.css" />


    <!-- Hope Ui Design System Css -->
    <link rel="stylesheet" href="/Content/assets/css/hope-ui.min.css?v=2.0.0" />

    <!-- Custom Css -->
    <link rel="stylesheet" href="/Content/assets/css/custom.min.css?v=2.0.0" />

    <!-- Dark Css -->
    <link rel="stylesheet" href="/Content/assets/css/dark.min.css" />

    <!-- Customizer Css -->
    <link rel="stylesheet" href="/Content/assets/css/customizer.min.css" />

    <!-- RTL Css -->
    <link rel="stylesheet" href="/Content/assets/css/rtl.min.css" />

    <style>
        #alert-container {
            position: fixed;
            top: 20px;
            right: 20px;
            width: 300px;
            height: fit-content;
            max-height: 300px;
            overflow-y: hidden;
            z-index: 999;
        }

        #alert-container .alert {
            position: relative;
            height: 40px;
            font-size: small;
            padding: 15px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }

        #alert-container .alert * {
            position: relative !important;
            padding: 0px !important;
        }
    </style>

</head>
<body class=" " data-bs-spy="scroll" data-bs-target="#elements-section" data-bs-offset="0" tabindex="0">
    <!-- loader Start -->
    <div id="loading">
        <div class="loader simple-loader">
            <div class="loader-body"></div>
        </div>
    </div>
    <!-- loader END -->

    <div class="wrapper">
        <section class="login-content">
            <div class="row m-0 align-items-center bg-white vh-100">
                <div class="col-md-6">
                    <div class="row justify-content-center">
                        <div class="col-md-10">
                            <div class="card card-transparent shadow-none d-flex justify-content-center mb-0 auth-card">
                                <div class="card-body">
                                    <a href="../../dashboard/index.html" class="navbar-brand d-flex align-items-center mb-3">
                                        <!--Logo start-->
                                        <!--logo End-->
                                        <!--Logo start-->
                                        <div class="logo-main">
                                            <div class="logo-normal">
                                                <svg class="text-primary icon-30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <rect x="-0.757324" y="19.2427" width="28" height="4" rx="2" transform="rotate(-45 -0.757324 19.2427)" fill="currentColor" />
                                                    <rect x="7.72803" y="27.728" width="28" height="4" rx="2" transform="rotate(-45 7.72803 27.728)" fill="currentColor" />
                                                    <rect x="10.5366" y="16.3945" width="16" height="4" rx="2" transform="rotate(45 10.5366 16.3945)" fill="currentColor" />
                                                    <rect x="10.5562" y="-0.556152" width="28" height="4" rx="2" transform="rotate(45 10.5562 -0.556152)" fill="currentColor" />
                                                </svg>
                                            </div>
                                            <div class="logo-mini">
                                                <svg class="text-primary icon-30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <rect x="-0.757324" y="19.2427" width="28" height="4" rx="2" transform="rotate(-45 -0.757324 19.2427)" fill="currentColor" />
                                                    <rect x="7.72803" y="27.728" width="28" height="4" rx="2" transform="rotate(-45 7.72803 27.728)" fill="currentColor" />
                                                    <rect x="10.5366" y="16.3945" width="16" height="4" rx="2" transform="rotate(45 10.5366 16.3945)" fill="currentColor" />
                                                    <rect x="10.5562" y="-0.556152" width="28" height="4" rx="2" transform="rotate(45 10.5562 -0.556152)" fill="currentColor" />
                                                </svg>
                                            </div>
                                        </div>
                                        <!--logo End-->




                                        <h4 class="logo-title ms-3">Plan X</h4>
                                    </a>
                                    <h2 class="mb-2 text-center">Sign In</h2>
                                    <p class="text-center">Login to stay connected.</p>
                                    <form>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="form-group">
                                                    <label for="userid" class="form-label">ID</label>
                                                    <input type="number" class="form-control" id="userid" aria-describedby="userid" placeholder="Enter your ID number">
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="form-group">
                                                    <label for="password" class="form-label">Password</label>
                                                    <input type="password" class="form-control" id="password" aria-describedby="password" placeholder="Enter your password">
                                                </div>
                                            </div>
                                            <div class="col-lg-12 d-flex justify-content-between">
                                                <div class="form-check mb-3">
                                                    <input type="checkbox" class="form-check-input" id="remember">
                                                    <label class="form-check-label" for="remember">Remember Me</label>
                                                </div>
                                                <a href="recoverpw.html">Forgot Password?</a>
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-center">
                                            <button type="button" id="submit-btn" class="btn btn-primary">Sign In</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sign-bg">
                        <svg width="280" height="230" viewBox="0 0 431 398" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g opacity="0.05">
                                <rect x="-157.085" y="193.773" width="543" height="77.5714" rx="38.7857" transform="rotate(-45 -157.085 193.773)" fill="#3B8AFF" />
                                <rect x="7.46875" y="358.327" width="543" height="77.5714" rx="38.7857" transform="rotate(-45 7.46875 358.327)" fill="#3B8AFF" />
                                <rect x="61.9355" y="138.545" width="310.286" height="77.5714" rx="38.7857" transform="rotate(45 61.9355 138.545)" fill="#3B8AFF" />
                                <rect x="62.3154" y="-190.173" width="543" height="77.5714" rx="38.7857" transform="rotate(45 62.3154 -190.173)" fill="#3B8AFF" />
                            </g>
                        </svg>
                    </div>
                </div>
                <div class="col-md-6 d-md-block d-none bg-primary p-0 mt-n1 vh-100 overflow-hidden">
                    <img src="/Content/assets/images/auth/01.png" class="img-fluid gradient-main animated-scaleX" alt="images">
                </div>
            </div>
        </section>
    </div>
    <div class="tab-pane bd-heading-1 fade active show" id="alert-container" role="tabpanel"></div>

    <!-- Library Bundle Script -->
    <script src="/Content/assets/js/core/libs.min.js"></script>

    <!-- External Library Bundle Script -->
    <script src="/Content/assets/js/core/external.min.js"></script>

    <!-- Widgetchart Script -->
    <script src="/Content/assets/js/charts/widgetcharts.js"></script>

    <!-- mapchart Script -->
    <script src="/Content/assets/js/charts/vectore-chart.js"></script>
    <script src="/Content/assets/js/charts/dashboard.js"></script>

    <!-- fslightbox Script -->
    <script src="/Content/assets/js/plugins/fslightbox.js"></script>

    <!-- Settings Script -->
    <script src="/Content/assets/js/plugins/setting.js"></script>

    <!-- Slider-tab Script -->
    <script src="/Content/assets/js/plugins/slider-tabs.js"></script>

    <!-- Form Wizard Script -->
    <script src="/Content/assets/js/plugins/form-wizard.js"></script>

    <!-- AOS Animation Plugin-->
    <!-- App Script -->
    <script src="/Content/assets/js/hope-ui.js" defer></script>

</body>
</html>

<script>
    const StatusCode = {
        Success: 1,
        Error: 0,
        NotFound: 2,
        Unauthorized: 3
    };

    function setCookie(cname, cvalue, ctime) {
        const d = new Date();
        d.setTime(d.getTime() + (ctime * 1000));
        let expires = "expires=" + d.toUTCString();
        document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
    }

    function getCookie(cname) {
        let name = cname + "=";
        let decodedCookie = decodeURIComponent(document.cookie);
        let ca = decodedCookie.split(';');
        for (let i = 0; i < ca.length; i++) {
            let c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
            }
        }
        return "";
    }

    $(document).ready(function () {
        let access_token = getCookie("access_token");
        if (access_token != "") {
            $.ajax({
                url: "/login/validate",
                data: access_token,
                processData: false,
                contentType: false,
                type: "POST",
                success: function (result) {
                    switch (result.status) {
                        case StatusCode.Success:
                            window.location.pathname = "/home";
                            break;
                    }
                }
            })
        } else {
            //console.log("Token not found!");
        }

        let alert_count = 0;
        let alert_close_btn = null;
        $("#submit-btn").click(function () {
            let formData = new FormData();
            formData.append("userid", $("#userid").val());
            formData.append("password", $("#password").val());
            formData.append("remember", $("#remember").prop("checked"));
            $.ajax({
                url: "/login/login",
                data: formData,
                processData: false,
                contentType: false,
                type: "POST",
                success: function (result) {
                    switch (result.status) {
                        case StatusCode.Success:
                            setCookie("access_token", JSON.parse(result.data).token, JSON.parse(result.data).expire);
                            $("#alert-container").append('<div class="mb-3 alert alert-left alert-success alert-dismissible fade show" role="alert"><span>Login successfully!</span><button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>');
                            setTimeout(() => window.location.pathname = "/home", 1500);
                            break;
                        case StatusCode.NotFound:
                            //alert("Account not found!");
                            $("#alert-container").append('<div id="alert' + alert_count + '" class="mb-3 alert alert-left alert-warning alert-dismissible fade show" role="alert"><span>Account not found!</span><button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>');
                            alert_close_btn = $("#alert-container > div#alert" + alert_count);
                            setTimeout(() => {
                                alert_close_btn.remove();
                            }, 5000);
                            alert_count++;
                            break;
                        default:
                            //alert("Login failed!");
                            $("#alert-container").append('<div id="alert' + alert_count + '" class="mb-3 alert alert-left alert-warning alert-dismissible fade show" role="alert"><span>Login failed!</span><button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>');
                            alert_close_btn = $("#alert-container > div#alert" + alert_count);
                            setTimeout(() => {
                                alert_close_btn.remove();
                            }, 5000);
                            alert_count++;
                            break;
                    }
                },
                error: function () {
                    alert("Error");
                }
            })
        })
    })
</script>

