@{
    ViewBag.Title = "Home Page";
}

<div class="conatiner-fluid content-inner mt-n5 py-0">
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="row row-cols-1">
                @*<div class="overflow-hidden d-slider1 ">
                        <ul class="p-0 m-0 mb-2 swiper-wrapper list-inline">
                            <li class="swiper-slide card card-slide" data-aos="fade-up" data-aos-delay="700">
                                <div class="card-body">
                                    <div class="progress-widget">
                                        <div id="circle-progress-01"
                                             class="text-center circle-progress-01 circle-progress circle-progress-primary"
                                             data-min-value="0" data-max-value="100" data-value="90"
                                             data-type="percent">
                                            <svg class="card-slie-arrow icon-24" width="24" viewBox="0 0 24 24">
                                                <path fill="currentColor"
                                                      d="M5,17.59L15.59,7H9V5H19V15H17V8.41L6.41,19L5,17.59Z" />
                                            </svg>
                                        </div>
                                        <div class="progress-detail">
                                            <p class="mb-2">Total Sales</p>
                                            <h4 class="counter">$560K</h4>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="swiper-slide card card-slide" data-aos="fade-up" data-aos-delay="800">
                                <div class="card-body">
                                    <div class="progress-widget">
                                        <div id="circle-progress-02"
                                             class="text-center circle-progress-01 circle-progress circle-progress-info"
                                             data-min-value="0" data-max-value="100" data-value="80"
                                             data-type="percent">
                                            <svg class="card-slie-arrow icon-24" width="24" viewBox="0 0 24 24">
                                                <path fill="currentColor"
                                                      d="M19,6.41L17.59,5L7,15.59V9H5V19H15V17H8.41L19,6.41Z" />
                                            </svg>
                                        </div>
                                        <div class="progress-detail">
                                            <p class="mb-2">Total Profit</p>
                                            <h4 class="counter">$185K</h4>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="swiper-slide card card-slide" data-aos="fade-up" data-aos-delay="900">
                                <div class="card-body">
                                    <div class="progress-widget">
                                        <div id="circle-progress-03"
                                             class="text-center circle-progress-01 circle-progress circle-progress-primary"
                                             data-min-value="0" data-max-value="100" data-value="70"
                                             data-type="percent">
                                            <svg class="card-slie-arrow icon-24" width="24" viewBox="0 0 24 24">
                                                <path fill="currentColor"
                                                      d="M19,6.41L17.59,5L7,15.59V9H5V19H15V17H8.41L19,6.41Z" />
                                            </svg>
                                        </div>
                                        <div class="progress-detail">
                                            <p class="mb-2">Total Cost</p>
                                            <h4 class="counter">$375K</h4>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="swiper-slide card card-slide" data-aos="fade-up" data-aos-delay="1000">
                                <div class="card-body">
                                    <div class="progress-widget">
                                        <div id="circle-progress-04"
                                             class="text-center circle-progress-01 circle-progress circle-progress-info"
                                             data-min-value="0" data-max-value="100" data-value="60"
                                             data-type="percent">
                                            <svg class="card-slie-arrow icon-24" width="24px" viewBox="0 0 24 24">
                                                <path fill="currentColor"
                                                      d="M5,17.59L15.59,7H9V5H19V15H17V8.41L6.41,19L5,17.59Z" />
                                            </svg>
                                        </div>
                                        <div class="progress-detail">
                                            <p class="mb-2">Revenue</p>
                                            <h4 class="counter">$742K</h4>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="swiper-slide card card-slide" data-aos="fade-up" data-aos-delay="1100">
                                <div class="card-body">
                                    <div class="progress-widget">
                                        <div id="circle-progress-05"
                                             class="text-center circle-progress-01 circle-progress circle-progress-primary"
                                             data-min-value="0" data-max-value="100" data-value="50"
                                             data-type="percent">
                                            <svg class="card-slie-arrow icon-24" width="24px" viewBox="0 0 24 24">
                                                <path fill="currentColor"
                                                      d="M5,17.59L15.59,7H9V5H19V15H17V8.41L6.41,19L5,17.59Z" />
                                            </svg>
                                        </div>
                                        <div class="progress-detail">
                                            <p class="mb-2">Net Income</p>
                                            <h4 class="counter">$150K</h4>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="swiper-slide card card-slide" data-aos="fade-up" data-aos-delay="1200">
                                <div class="card-body">
                                    <div class="progress-widget">
                                        <div id="circle-progress-06"
                                             class="text-center circle-progress-01 circle-progress circle-progress-info"
                                             data-min-value="0" data-max-value="100" data-value="40"
                                             data-type="percent">
                                            <svg class="card-slie-arrow icon-24" width="24" viewBox="0 0 24 24">
                                                <path fill="currentColor"
                                                      d="M19,6.41L17.59,5L7,15.59V9H5V19H15V17H8.41L19,6.41Z" />
                                            </svg>
                                        </div>
                                        <div class="progress-detail">
                                            <p class="mb-2">Today</p>
                                            <h4 class="counter">$4600</h4>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="swiper-slide card card-slide" data-aos="fade-up" data-aos-delay="1300">
                                <div class="card-body">
                                    <div class="progress-widget">
                                        <div id="circle-progress-07"
                                             class="text-center circle-progress-01 circle-progress circle-progress-primary"
                                             data-min-value="0" data-max-value="100" data-value="30"
                                             data-type="percent">
                                            <svg class="card-slie-arrow icon-24 " width="24" viewBox="0 0 24 24">
                                                <path fill="currentColor"
                                                      d="M19,6.41L17.59,5L7,15.59V9H5V19H15V17H8.41L19,6.41Z" />
                                            </svg>
                                        </div>
                                        <div class="progress-detail">
                                            <p class="mb-2">Members</p>
                                            <h4 class="counter">11.2M</h4>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <div class="swiper-button swiper-button-next"></div>
                        <div class="swiper-button swiper-button-prev"></div>
                    </div>*@
            </div>
        </div>
        <div class="col-md-12 col-lg-8">
            <div class="row">
                <div class="col-md-12">
                    <div class="card" data-aos="fade-up" data-aos-delay="800">
                        <div class="flex-wrap card-header d-flex justify-content-between align-items-center">
                            <div class="header-title">
                                <h4 class="card-title">15</h4>
                                <p class="mb-0">Rewarded Employee this month</p>
                            </div>
                            <div class="d-flex align-items-center align-self-center">
                                <div class="d-flex align-items-center text-primary">
                                    <svg class="icon-12" xmlns="http://www.w3.org/2000/svg" width="12"
                                         viewBox="0 0 24 24" fill="currentColor">
                                        <g>
                                            <circle cx="12" cy="12" r="8" fill="currentColor"></circle>
                                        </g>
                                    </svg>
                                    <div class="ms-2">
                                        <span class="text-gray">Sales</span>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center ms-3 text-info">
                                    <svg class="icon-12" xmlns="http://www.w3.org/2000/svg" width="12"
                                         viewBox="0 0 24 24" fill="currentColor">
                                        <g>
                                            <circle cx="12" cy="12" r="8" fill="currentColor"></circle>
                                        </g>
                                    </svg>
                                    <div class="ms-2">
                                        <span class="text-gray">Cost</span>
                                    </div>
                                </div>
                            </div>
                            <div class="dropdown">
                                <a href="#" class="text-gray dropdown-toggle" id="dropdownMenuButton22"
                                   data-bs-toggle="dropdown" aria-expanded="false">
                                    This Week
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end"
                                    aria-labelledby="dropdownMenuButton22">
                                    <li><a class="dropdown-item" href="#">This Week</a></li>
                                    <li><a class="dropdown-item" href="#">This Month</a></li>
                                    <li><a class="dropdown-item" href="#">This Year</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-body">
                            <div id="d-main" class="d-main"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-xl-6">
                    <div class="card" data-aos="fade-up" data-aos-delay="900">
                        <div class="flex-wrap card-header d-flex justify-content-between">
                            <div class="header-title">
                                <h4 class="card-title">Progress</h4>
                            </div>
                            <div class="dropdown">
                                <a href="#" class="text-gray dropdown-toggle" id="current-project-progress"
                                   data-bs-toggle="dropdown" aria-expanded="false">
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end"
                                    aria-labelledby="current-project" id="list-project-progress">
                                </ul>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="flex-wrap d-flex align-items-center justify-content-between">
                                <div id="myChart" class="col-md-8 col-lg-8 myChart"></div>
                                <div class="d-grid gap col-md-4 col-lg-4">
                                    <div class="d-flex align-items-start">
                                        <svg class="mt-2 icon-14" xmlns="http://www.w3.org/2000/svg" width="14"
                                             viewBox="0 0 24 24" fill="#3a57e8">
                                            <g>
                                                <circle cx="12" cy="12" r="8" fill="#3a57e8"></circle>
                                            </g>
                                        </svg>
                                        <div class="ms-3">
                                            <span class="text-gray">Average</span>
                                            <h6 id="progress-group">0.0</h6>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-start">
                                        <svg class="mt-2 icon-14" xmlns="http://www.w3.org/2000/svg" width="14"
                                             viewBox="0 0 24 24" fill="#4bc7d2">
                                            <g>
                                                <circle cx="12" cy="12" r="8" fill="#4bc7d2"></circle>
                                            </g>
                                        </svg>
                                        <div class="ms-3">
                                            <span class="text-gray">Self</span>
                                            <h6 id="progress-self">0.0</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-xl-6">
                    <div class="card" data-aos="fade-up" data-aos-delay="1000">
                        <div class="flex-wrap card-header d-flex justify-content-between">
                            <div class="header-title">
                                <h4 class="card-title">Evaluation</h4>
                            </div>
                            <div class="dropdown">
                                <a href="#" class="text-gray dropdown-toggle" id="dropdownMenuButton3"
                                   data-bs-toggle="dropdown" aria-expanded="false">
                                    This Week
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end"
                                    aria-labelledby="dropdownMenuButton3">
                                    <li><a class="dropdown-item" href="#">This Week</a></li>
                                    <li><a class="dropdown-item" href="#">This Month</a></li>
                                    <li><a class="dropdown-item" href="#">This Year</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-body">
                            <div id="d-activity" class="d-activity"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-lg-4">
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <div class="card" data-aos="fade-up" data-aos-delay="500">
                        <div class="text-center card-body d-flex justify-content-around">
                            <div>
                                <h2 class="mb-2" id="team-project">0</h2>
                                <p class="mb-0 text-gray">Team Project</p>
                            </div>
                            <hr class="hr-vertial">
                            <div>
                                <h2 class="mb-2" id="total-employee">0</h2>
                                <p class="mb-0 text-gray">Total Employee</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-12">
                    <div class="card" data-aos="fade-up" data-aos-delay="600">
                        <div class="flex-wrap card-header d-flex justify-content-between">
                            <div class="header-title">
                                <h4 class="mb-2 card-title">Time Keeping</h4>
                                <p class="mb-0">
                                    @*<svg class="me-2 icon-24" width="24" height="24" viewBox="0 0 24 24">
                                            <path fill="#17904b"
                                                  d="M13,20H11V8L5.5,13.5L4.08,12.08L12,4.16L19.92,12.08L18.5,13.5L13,8V20Z" />
                                        </svg>*@
                                    Last 5 days
                                </p>
                            </div>
                        </div>
                        <div class="card-body" id="time-keeping">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section script
{
    <script>
        $(document).ready(function () {
            let prog_group = prog_self = [];
            let eval_group = eval_self = [[]]; //[Hardwork, Friendly, Creative]

            let access_token = getCookie("access_token");
            $.ajax({
                url: "/home/getdata",
                data: access_token,
                processData: false,
                contentType: false,
                type: "POST",
                success: function (result) {
                    switch (result.status) {
                        case StatusCode.Success:
                            data = JSON.parse(result.data);
                            //console.log(data);

                            prog_group = data.progress_group;
                            prog_self = data.progress_self;
                            eval_group = data.evaluation_group;
                            eval_self = data.evaluation_self;
                            time_keeping = data.time_keeping;

                            $("#current-project-progress").text(prog_group[0].PROJ_NAME);
                            prog_group.forEach(function (item, index) {
                                $("#list-project-progress").append('<li><a class="dropdown-item" href="#">' + item.PROJ_NAME + '</a></li>')
                            })
                            //drawProgress(prog_group[0].AVG_PROG, prog_self[0].AVG_PROG);

                            //drawEvaluation([eval_group[0].AVG_EVAL_HW, eval_group[0].AVG_EVAL_FR, eval_group[0].AVG_EVAL_CR], [eval_self[0].AVG_EVAL_HW, eval_self[0].AVG_EVAL_FR, eval_self[0].AVG_EVAL_CR]);

                            $("#team-project").text(data.team_project ?? 0);
                            $("#total-employee").text(data.total_employee ?? 0);

                            let time_keeping_div = $("#time-keeping");
                            if (Array.isArray(time_keeping)) {
                                data.time_keeping.forEach(function (item, index) {
                                    let absent_status = item.absent_status ?? "Absent";
                                    let description = item.description ?? "Not permitted";
                                    time_keeping_div.append(
                                        "<div class='mb-2  d-flex profile-media align-items-top'><div class='mt-1 profile-dots-pills border-primary'></div><div class='ms-4'><h6 class='mb-1 '>" + absent_status + "</h6 ><span class='mb-0'>" + description + "</span></div></div>"
                                    );
                                })
                            }

                            $("#my-modal").fadeOut();
                            break;

                        case StatusCode.Error:
                            AppendAlert("Get dashboard data failed!", StatusAlert.Error);
                            break;
                        default:
                            setCookie("access_token", "", -1);
                            window.location.pathname = "/login";
                            break;
                    }
                }
            })

            function drawProgress(progress_group = 0, progress_self = 0) {
                if (document.querySelectorAll('#myChart').length) {
                    const options = {
                        series: [progress_group , progress_self],
                        chart: {
                            height: 230,
                            type: 'radialBar',
                        },
                        colors: ["#4bc7d2", "#3a57e8"],
                        plotOptions: {
                            radialBar: {
                                hollow: {
                                    margin: 10,
                                    size: "50%",
                                },
                                track: {
                                    margin: 10,
                                    strokeWidth: '50%',
                                },
                                dataLabels: {
                                    show: false,
                                }
                            }
                        },
                        labels: ['Apples', 'Oranges'],
                    };
                    if (ApexCharts !== undefined) {
                        const chart = new ApexCharts(document.querySelector("#myChart"), options);
                        chart.render();
                        document.addEventListener('ColorChange', (e) => {
                            const newOpt = { colors: [e.detail.detail2, e.detail.detail1], }
                            chart.updateOptions(newOpt)

                        })
                    }

                    $("#progress-group").text(progress_group);
                    $("#progress-self").text(progress_self);
                }

            }

            function drawEvaluation(evaluation_group = [0, 0, 0], evaluation_self = [0, 0, 0]) {
                if (document.querySelectorAll('#d-activity').length) {
                    const options = {
                        series: [{
                            name: 'Average',
                            data: eval_group
                        }, {
                            name: 'Self',
                            data: evaluation_self
                        }],
                        chart: {
                            type: 'bar',
                            height: 230,
                            stacked: true,
                            toolbar: {
                                show: false
                            }
                        },
                        colors: ["#3a57e8", "#4bc7d2"],
                        plotOptions: {
                            bar: {
                                horizontal: false,
                                columnWidth: '28%',
                                endingShape: 'rounded',
                                borderRadius: 5,
                            },
                        },
                        legend: {
                            show: false
                        },
                        dataLabels: {
                            enabled: false
                        },
                        stroke: {
                            show: true,
                            width: 2,
                            colors: ['transparent']
                        },
                        xaxis: {
                            categories: ['Hardwork', 'Friendly', 'Creative'],
                            labels: {
                                minHeight: 20,
                                maxHeight: 24,
                                style: {
                                    colors: "#8A92A6",
                                },
                            }
                        },
                        yaxis: {
                            title: {
                                text: ''
                            },
                            labels: {
                                minWidth: 19,
                                maxWidth: 19,
                                style: {
                                    colors: "#8A92A6",
                                },
                            }
                        },
                        fill: {
                            opacity: 1
                        },
                        tooltip: {
                            y: {
                                formatter: function (val) {
                                    return val + " points"
                                }
                            }
                        }
                    };

                    const chart = new ApexCharts(document.querySelector("#d-activity"), options);
                    chart.render();
                    document.addEventListener('ColorChange', (e) => {
                        const newOpt = { colors: [e.detail.detail1, e.detail.detail2], }
                        chart.updateOptions(newOpt)
                    })
                }
            }
        })
    </script>
}

